{% extends 'base.html'%}
{% load static %}
{% block title %}
<title>詳細商品資訊</title>
<style>
    .detail-main{
        display:flex;
        padding-top: 120px;
        padding-left: 8%;
        padding-bottom: 60px;
        background-color: #a0a0a0;
    }
    .detail-left{
        text-align:center;
    }
    .detail-right{
        padding-top: 20px;
    }
    .left-up{
        padding-bottom: 20px;
    }
    .h3, .h4{
        font-weight: bold;
    }
    .col{
        padding-left: 50px;
    }
    .mb-3{
        padding-right: 10px;
    }
</style>
{% endblock %}
{% block content %}
<div class="detail-main"> <!-- 欄位滿版 -->
    <div class="row">
        <div class="col-12 col-md-6" >
            <div class="left-up">
                <img src="/static/images/products/{{product.pimage}}" alt="" width="90%"  width="30%" class="rounded-3" style="box-shadow:10px 10px 10px rgb(110, 110, 110)" >
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="detail-right">
                <h2>{{product.pname}}</h2>
                <h3>商品介紹</h3>
                <br>
                <h5>{{product.pdescription}}</h5>
                <br>
                <div class="product-name">
                    <h3>特價 ${{product.pprice}}</h3>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="mb-3">
                    <button type="button" class="btn btn-primary btn-lg" onclick="window.location='/addtocart/add/{{product.id}}/'">加入購物車</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
