{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>商品目錄</title>
<style>
    .container_card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 50px;
        background-image:url("/static/images/page/bg_image.png");
        background-repeat: repeat;
        padding-top: 100px;
    }
    .card{
        padding: 2px;
        width: 220px;
    }
</style>
{% endblock %}
{% block content %}
<div class="container_card">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-5 mx-auto">
        {% for product in products%}
        <div class="col">
            <div class="card h-100">
                <img src="/static/images/products/{{product.pimage}}" class="card-img-top">
                <div class="card-body" style="background-color: #ded6d6;">
                    <div class="card-title" style="font-weight: bold;">{{product.pname}}</div>
                    <p class="card-text h-50">{{product.pdescription}}</p>
                    <div class="product-name"> 
                        <h5>特價 ${{product.pprice}}</h5>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <button class="btn btn-primary me-md-2" type="button" onclick="window.location='/detail/{{product.id}}/'">商品資訊</button> 
                        <!-- card-link -->
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}